<%= render 'users/userinfo', user: @user, book: @book_new %>

    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to user_path(@user.id) do %>
            <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size: "40x40"%><br>
            <% end %>
            <%= link_to user_path(@user.id) do %><%= @user.name %><% end %></td>
          <td><%= link_to book_path(@book.id) do %><%= @book.title %><% end %></td>
          <td><%= @book.body %></td>
           <% if @user.id == current_user.id %>
            <td><%= link_to edit_book_path(@book.id), class:"btn btn-sm btn-success" do %>Edit<% end %></td>
            <td><%= link_to book_path(@book.id), class:"btn btn-sm btn-danger", method: :delete, 'data-confirm'=> '本当に消しますか？' do %>
            Destroy
            <% end %>
            <% end %>
            </td>
        </tr>
      </table>
    </div>
  </div>
</div>